<div class="ui items">
<% @galleries.each do |x| %>
  <div class="item">
    <div class="image">
    <%= image_tag x.sampul %>
    </div>
    <div class="content">
      <%= link_to x.title, gallery_url(x), class: 'header' %>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        Additional Details
      </div>
    </div>
  </div>
  <% end %>
</div>
  
